<html>
  <head>
    <title>Commenter le potin n°<%=id%></title>
  </head>
  <body>
    <h1>Commente le potin n°<%=id%>!</h1>
    <p>Voici la page actuelle du potin n°<%=id%></p>
    <p>Son auteur : <%=gossip.author%></p>
    <p>Le contenu du potin : <%=gossip.content%></p>
    <p>Commente-le via le formulaire ci-dessous</p>
    <form action='/gossips/<%=id%>/comment' method='POST'>
      Ton nom :  <input type='text' name='comment_author'/><br/>
      Commentaire : <input type='text' name='comment_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
